* {
  box-sizing: border-box;
}

body {
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", sans-serif;
}

h1 {
  font-weight: 1200px;
}

.card {
  border: 1.5px solid black;
  border-radius: 15px;
  background-color: white;
  padding: 4%;
  width: 60vw;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.after {
  z-index: -1;
  background-color: black;
  position: absolute;
  right: 90px;
  border-radius: 15px;
  padding: 5%;
  width: 57vw;
  height: 112%;
}

p {
  color: hsl(0, 0%, 42%);
}

.title-img {
  background-image: url("https://i.postimg.cc/qhBbLWPH/illustration-article.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 90%;
  height: 150px;
  border-radius: 15px;
}

h3 {
  border: solid hsl(48, 100%, 59%);
  background-color: hsl(47, 88%, 63%);
  border-radius: 5px;
  width: 35%;
  padding: 5px;
}

footer {
  display: flex;
  align-items: center;
}

.profile {
  background-image: url("https://i.postimg.cc/Ff5Y54p3/image-avatar.webp");
  width: 50px;
  height: 50px;
  background-size: contain;
  margin-right: 15px;
}
